body{
  background: #64748C;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  display:flex;
  background-color: #F2D3A7;
}
img{
  max-width:500px;
  height:auto;
  object-fit: contain;
}
button{
  background-color: black;
  color: #F2D3A7;
  padding: 10px 17px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size:30px;
}
.inner-text{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.image{
  display: flex;
}
.brand{
  font-size: 25px;
}
a{
  text-decoration: none;
  color:#F2D3A7;
}
.footer{
  margin-top: 80px;
}